body {
  background-color:#008080; /* A E S T H E T I C */
}

h1, h2, h3, p {
  font-family: "Lucida Console";
  color: white;
}

a {
  color: white
  text-decoration: none;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

a:link:active, a:visited:active {
  color: blue;
}

.body p {
  font-family:"Times New Roman";
}

.thumb {
  width: 50px
}

.side-bio {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 16px;
}

.side-bio p {
  color: black;
}

.side-bio img {
  width: 100%;
}

.taskbar {
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height:5%;
  background-color: #cccccc;
  margin-left:0px;
  margin-top:0px;
}
.taskbar img {
  position:absolute;
  top:0;
  height: 100%;
}

.icon {
  width:7%;
  height:15%;
  display: block;
  background-color: #008080;
}
.icon p {
  font-family:"Arial";
  text-align: center;
}

.icon button {
  width:100%;
  display:block;
  background-color: #008080;
  border: 2px solid #008080;
}

.icon:hover {
  background-color:#009696;
}
