body {
  background-color:#008080; /* A E S T H E T I C */
}

h1, h2, h3, p {
  font-family: "Lucida Console";
  color: white;
}

a {
  color: white
  text-decoration: none;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

a:link:active, a:visited:active {
  color: blue;
}

.body p {
  font-family:"Times New Roman";
}

.thumb {
  width: 50px
}

.side-bio {
  height: 100%;
  width: 14%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
}

.side-bio p, .side-bio a {
  color: black;
}

.side-bio img {
  width: 100%;
}

.window {
  margin-left: 20%;
  width: 50%;
  border: 3px solid black;
  background-color: #cccccc;
}

.window p, H2 {
  color: black;
}

.window a {
  color: black;
  font-size: 20;
}

.window img:hover {
  background-color:#9e9e9e;
}

.icon {
  width:100px;
  height:100px;
  display: block;
  background-color: #008080;
}
.icon p {
  font-family:"Arial";
  text-align: center;
}

.icon button {
  width:100%;
  display:block;
  background-color: #008080;
  border: none;
}

.icon:hover *, .icon:hover{
  background-color:#009696;
}
