body {
  background-color: #3B3837;
  font-family: "Trebuchet MS";
}

p {
  font-size: 20;
}

H2{
  font-size: 30;
}

#intro {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("img/introbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

#intro-text {
  display: block;
  width: 30%;
  background-color: #237F88;
  color: white;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 3%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#projects {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("img/projectsbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

#projects-text {
  display: block;
  width: 30%;
  background-color: #237F88;
  color: white;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#projects-links {
  display: block;
  width: 30%;
  background-color: #237F88;
  color: white;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#projects a {
  color: white;
  font-size: 25;
}

#projects a:hover {
  color: #97C3C7;
}

#hobbies {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("img/hobbiesbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

#hobbies-text {
  display: block;
  width: 30%;
  background-color: #237F88;
  color: white;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 3%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 50px;
  padding-left: 10px;
  filter: grayscale(1) contrast(3);
}

.logo:hover {
  filter: grayscale(1) contrast(3) invert(0.75);
}
